@model OrdersSystem.Web.ViewModels.OutOrders.OutOrderViewModel

<div>
    <p>
        <strong>Customer: </strong>@Model.Supplier.Name
    </p>
    <p>
        <strong>Description: </strong>
        <div id="description">
            @(Model.Description.Length > 10 ? Model.Description.Substring(0, 10) + "..." : Model.Description)
        </div>
        @if (Model.Description.Length > 10)
        {
            <div>
                @Ajax.ActionLink("See full description", "GetFullDescription", new { id = Model.Id },
                new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "description",
                    OnSuccess = "hideButton"
                }, new { id = "ajax-button" })
            </div>
        } 
    </p>
    <p>
        <strong>Status: </strong><span id="status">@Model.Status</span>
    </p>
    <p>
        <strong>Ordered on: </strong>@Model.StartDate
    </p>
    <p>
        <strong>End Date: </strong>@Model.EndDate
    </p>
    <p>
        <strong>Ordered By: </strong>@Model.Author.UserName
    </p>
</div>
