@model OrdersSystem.Web.Areas.Admin.ViewModels.Devices.DeviceInputModel

@{
    ViewBag.Title = "Add Device";
}

<h2>Add New Device</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        <br />
        @Html.LabelFor(m => m.CategoryId)
        @Html.DropDownListFor(m => m.CategoryId, Model.Categories, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-success" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
    </div>
}